extends BaseLayout

block content
    link(href='/styles/Profile.css', rel='stylesheet')
    div(class="main")
        div(class='headerDiv')
            span(class="username")
                |#{user.username}
            span(class='links')
                -if (username == user.username){
                a(href='/EditProfile') Edit Profile
                -}else{
                a(href='/SendNote?targetUsername=#{user.username}') Send Note
                a(href='/AddContact?targetUsername=#{user.username}') Add Contact
                -}
        div(class='profMain')
            div(class='bioDiv')
                -if (typeof user.birthdate != 'undefined'){
                span(class="birthdate")
                    |#{user.birthdate}  
                br
                -}
                -if (typeof user.location != 'undefined'){
                span(class='location')
                    |#{user.location}
                br
                -}

            div(class='extraDiv')
                div(class='descriptionDiv')
                    h3(class='descriptionHeader') User Description
                    p(class='description')
                    -if (typeof user.description != 'undefined'){
                        |#{user.description}
                    -}else{
                        |#{user.username} has not yet set their description.
                    -}
                    br
                div(class='groupsDiv')
                    h3(class='groupsHeader') Member of:
                    -if(user.groups.length > 0){
                        each item in user.groups
                            a(href='/ViewGroup?groupId=#{item}', class='groupLink') Group #{item}
                            br
                    -}else{
                        |No groups yet!
                    -}
                    