extends BaseLayout

block content
    div(class="main")
        -if (username == user.username){
        a(href='/EditProfile') Edit Profile
        br
        -}else{
        a(href='/SendNote?targetUsername=#{user.username}') Send Note
        br
        -}
        
        span(class="username")
            |#{user.username}
        br
        -if (typeof user.birthdate != 'undefined'){
        span(class="birthdate")
            |#{user.birthdate}  
        br
        -}
        -if (typeof user.location != 'undefined'){
        span(class='location')
            |#{user.location}
        br
        -}
        -if (typeof user.description != 'undefined'){
        span(class='description')
            |#{user.description}
        br
        -}